<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/gijgo@1.9.10/css/gijgo.min.css}" />
<body>
<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light ">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/admin/empleados}" th:object="${empleado}" method="post"
					enctype="multipart/form-data">
					
					<input type="hidden" th:field="*{id}">
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nombres:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombres}" class="form-control"/> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}"></small>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Apellidos:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{apellidos}" class="form-control"/> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}"></small>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="foto">Foto:</label>
						<input class="col-sm-6" type="file" name="foto" id="foto"/>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Sexo:</label>
						<select th:field="*{sexo}" class="col-sm-6 form-control">
							<option th:text="Hombre" th:value="true"></option>
							<option th:text="Mujer" th:value="false"></option>							
						</select>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Fecha de Nacimiento:</label>
						<div class="col-sm-6">
							<input id="fecha_nacimiento" type="text" th:field="*{fecha_nacimiento}" class="form-control"/> 
							<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fecha_nacimiento')}" th:errors="*{fecha_nacimiento}">
							</small>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Nacionalidad:</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nacionalidad}" class="form-control"/> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}"></small>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Teléfono:</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{telefono}" class="form-control"/> 
							<small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">
							</small>
						</div>
					</div>
			
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">DNI:</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{dni}" class="form-control"/> 
							<small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
							</small>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Estado:</label>
						<select th:field="*{estado}" class="col-sm-6 form-control">
							<option th:text="Activo" th:value="true"></option>
							<option th:text="Inactivo" th:value="false"></option>							
						</select>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Sede:</label>
						<select th:field="*{sede}" class="col-sm-6 form-control">
							<option th:each="sede : ${sedes}" th:text="${sede.nombre}" th:value="${sede.id}"></option>							
						</select>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${btn}"
								class="btn btn-dark" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.10/js/gijgo.min.js"></script>
	<script>
		$('#fecha_nacimiento').datepicker({
			format: 'yyyy-mm-dd',
			uiLibrary: 'bootstrap4',
		});
	</script>
</body>
</html>