<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
				<img th:if="${empresa.foto != null && #strings.length(empresa.foto) > 0}" class="img-thumbnail rounded float-left"
					style="max-width: 25%;" th:src="@{'../uploads/' + ${empresa.foto}}"
					th:alt="${empresa.foto}" />
					
				<ul class="list-group">
					<li class="list-group-item active" th:text="${empresa.razonSocial}"></li>
					<li class="list-group-item" th:text="${empresa.ruc}"></li>
					<li class="list-group-item" th:text="${empresa.actividadEconomica}"></li>
				</ul>
				
				<img th:if="${empresa.pantallaInicio != null && #strings.length(empresa.pantallaInicio) > 0}" 
					style="max-width: 100%;" th:src="@{'../uploads/' + ${empresa.pantallaInicio}}"
					th:alt="${empresa.pantallaInicio}" />
			</div>
		</div>
	
	

	</div>
	

		
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>