<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/app :: head"></head>

<body data-sidebar="dark">
    <div id="layout-wrapper">

        <header th:replace="layout/app :: header">
        </header>
        <div th:replace="layout/app :: vertical-menu"></div>

        <div class="main-content" x-data="load()" x-init="loadEmployees()">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0 font-size-18">Empleados</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body d-flex justify-content-end">
                                    <button @click="openModal" class="btn btn-primary">Nuevo</button>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table id="employeesTable" class="table table-bordered dt-responsive nowrap w-100">
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- container-fluid -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="mainModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Crear Empleado</h5>
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> -->
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                  <label>Nombre</label>
                                  <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                  <label>Apellidos</label>
                                  <input type="text" class="form-control">
                                </div>
                              </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeModal">Cancelar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
        </div>


    </div>
    <div th:replace="layout/app :: scripts"></div>
    <script src="/js/modules/empleados.js"></script>
</body>

</html>