<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container mt-5">
		<h3 class="mb-3 mb-md-5 text-center" th:text="${objetivoGeneral.nombre}">
		</h3>
		<div class="d-flex justify-content-between align-items-end mb-3">
			<h3 class="pb-1">Actividades</h3>
			<a class="btn btn-dark" th:href="@{/actividades/crear/}+${objetivoGeneral.id}">
				Nueva Actividad</a>
		</div>
		<div class="table-responsive">
			<table class="table table-sm table-responsive">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="actividad: ${actividades}">
						<td th:text="${actividad.id}"></td>
						<td th:text="${actividad.nombre}"></td>
						<td class="text-center">
							<button
							th:onclick="modal('/actividades/show/[[${actividad.id}]]','Detalle de la Actividad')"

							class="btn btn-outline-dark btn-sm"><span
								class="fa fa-eye" title="Detalle"></span>
							</button> 
							<a class="btn btn-outline-dark btn-sm"
							th:href="@{/actividades/editar/} + ${actividad.id}">
							<span
								class="fa fa-pencil-alt" title="Editar">
							</span> 
							</a> 
							<button
							th:onclick="deleteRegister('/actividades/eliminar/[[${actividad.id}]]')"
							class="btn btn-outline-danger btn-sm">
							<span
								class="fa fa-trash" title="Eliminar">
							</span> 
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<header th:replace="layout/layout :: footer"></header>
</body>
</html>