<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg mt-4 ml-4">
				<a th:href="@{/lineaBase/listar/}" class="text-primary"> Linea
					Base <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a> <span class="text-dark">Lista Verificacion Capitulos</span>
			</div>
	<div class="container mt-2 card py-2  col-6  ml-2">

			<form th:action="@{/import/checkList}+'/'+${lineaBase.id}" method="post"
				enctype="multipart/form-data">
				<input type="file" th:name="file" /> <span class="far fa-file-pdf"
					title="Reporte"> </span> <input th:type="submit"
					class="btn btn-success btn-sm " value="Import  excel" />
			</form>

		
	</div>
	


		<div class="container-fluid ">
			<div class="row">
				<div class="col-sm-7">
					<div class="card ">
						<div class="card-header">
							<h6 th:text="${titulo}"></h6>
						</div>
						<div class="card-body ">
							<table
								class="table table-responsive-sm table-hover table-striped table-outline mb-0">
								<thead class="">
									<tr>
										<th class="text-center">#</th>
										<th class="text-center">Nombre</th>
										<!-- <th>Meta</th>
						<th>Presupuesto</th>
						<th>Recursos</th> -->
										<th class="text-center">Acciones</th>
										<th class="text-center">Capitulos Items</th>

									</tr>
								</thead>
								<tbody>
									<tr th:each="listaVerificacion: ${listasVerificaciones}">
										<td class="text-center" th:text="${listaVerificacion.id}"></td>
										<td th:text="${listaVerificacion.nombre}"></td>
										<!-- <td th:text="${objetivo.meta}"></td>
						<td th:text="${'S/ '+objetivo.presupuestoGeneral}"></td>
						<td th:text="${objetivo.recursos}"></td> -->
										<td class="text-center">
											<button
												th:onclick="modal('/objetivos-generales/show/[[${listaVerificacion.id}]]','Detalle del Objetivo General')"
												class="btn btn-outline-dark btn-sm">
												<span class="fa fa-eye" title="Detalle"></span>
											</button> <a class="btn btn-outline-dark btn-sm"
											th:href="@{/objetivos-generales/editar/} + ${listaVerificacion.id}">
												<span class="fa fa-pencil-alt" title="Editar"> </span>
										</a>
											<button
												th:onclick="deleteRegister('/objetivos-generales/eliminar/[[${listaVerificacion.id}]]')"
												class="btn btn-outline-danger btn-sm">
												<span class="fa fa-trash" title="Eliminar"> </span>
											</button>
										</td>
										<td class="text-center"><a
											th:href="@{/lista-verificacion-items/listar/} + ${listaVerificacion.id}"
											class="btn btn-outline-primary btn-sm"><span
												class="fas fa-crosshairs" title="Lista Verificacion Items"></span>
										</a></td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
		<header th:replace="layout/layout :: footer"></header>
</body>
</html>