<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<div id="i18n_eliminar_user" th:text="#{text.user.eliminarOk}"
		style="display: none;"></div>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-sm-3">
				<div class="card bg-light">
					<div class="card-header">
						<h6>Buscar Por:</h6>
					</div>
					<div class="card-body ">
						<form th:action="@{/menu/actividad/form}" method="post"
							enctype="multipart/form-data">
							<label for="meta" ><strong>Buscar por Tipo Actividad</strong> </label>
							<div class="form-group row">
								
								<div class="col-sm-12">
									<input type="text" class="form-control" /> <small></small>
								</div>
							</div>
						</form>
					</div>
				</div>




			</div>
			<div class="col-sm-9">
				<div class="card bg-light">
					<div class="card-header">
						<h6 th:text="${titulo}"></h6>
					</div>
					<div class="card-body ">


						<table class="table table-striped table-bordered table-sm">
							<thead>
								<tr>
									<th>Id</th>
									<th>Titulo de Actividad</th>
									<th>Tipo de Programa</th>
									<th>Usuario Responsable</th>
									<th>Fecha de Programacion</th>
									<th>Atraso</th>
									<th>Comentarios</th>
									<!--th sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th-->
								</tr>
							</thead>
							<tbody>
								<tr th:each="actividad: ${actividades}">
									<td th:text="${actividad.id}"></td>
									<td th:text="${actividad.meta}"></td>
									<td th:text="${actividad.programaActividad.nombre 	}"></td>
									<td th:text="${actividad.responsableUser.nombres}"></td>
									<td
										th:text="${#dates.format(actividad.fechaInicio, 'dd-MMM-yyyy')}"><input
										type="date"></td>
									<td th:text="${actividad.obtenerDias()}"></td>
									<td th:text="${actividad.comentario}"></td>
									<!--  td sec:authorize="hasRole('ROLE_ADMIN')"><a
										class="btn  btn-light btn-sm"
										th:href="@{/menu/actividad/form/} + ${actividad.id}">Editar</a>

										<a th:if="${actividad.status == true}"
										class="btn btn-danger active btn-sm	" th:text="Desactivar"
										th:href="@{/menu/actividad/eliminar/} + ${actividad.id}">Desactivar</a>
										<a th:unless="${actividad.status == true}"
										class="btn btn-warning btn-sm" th:text="Realizar"></a> <a
										class="btn  btn-danger active btn-sm"
										th:href="@{/menu/actividad/listar/} + ${actividad.id}">Eliminar</a>
									</td-->

								</tr>
							</tbody>

						</table>
					</div>
				</div>

			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>