<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container mt-5">
		<div class="d-flex justify-content-between align-items-end mb-3">
			<h3 class="pb-1">Programas Anuales</h3>
			<a class="btn btn-dark" th:href="@{/programaAnual/form/}">
				Aperturar Programa Anual</a>
		</div>
		<div class="table-responsive-lg">
			<table class="table table-sm">
				<thead class="thead-dark">
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<!-- <th>Aprobado por:</th> -->
						<th>Año</th>
						<th>Acciones</th>
						<th>Objetivos Generales</th>
						<th>Reporte</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="programaAnual: ${programaAnuales}">
						<td th:text="${programaAnual.id}"></td>
						<td th:text="${programaAnual.nombre}"></td>
						<!-- <td th:text="${programaAnual.id_aprobado.nombres+' '+programaAnual.id_aprobado.apellidos}"></td> -->
						<td th:text="2020"></td>
						<td>
							<a
							th:onclick="modal('/programas-anuales/show/[[${programaAnual.id}]]','Detalle del Programa Anual')"
							class="btn btn-outline-dark btn-sm"><span
								class="fa fa-eye" title="Detalle"></span>
							</a> 
							<a class="btn btn-outline-dark btn-sm"
							th:href="@{/programaAnual/editar/} + ${programaAnual.id}">
							<span
								class="fa fa-pencil-alt" title="Editar">
							</span> 
							</a> 
							<button
							class="btn btn-outline-danger btn-sm"
							th:onclick="deleteRegister('/programaAnual/eliminar/[[${programaAnual.id}]]')"							
							>
							<span
								class="fa fa-trash" title="Eliminar">
							</span> 
							</button>
						</td>
						<td>
							<a
							th:href="@{/objetivos-generales/} + ${programaAnual.id}" 
							class="btn btn-outline-primary btn-sm ml-3"><span
								class="fas fa-bullseye" title="Objetivos Generales"></span>
							</a> 
						</td>
						<td>
							<a
							th:href="@{/programaAnual/ver/} + ${programaAnual.id}"
							class="btn btn-outline-success btn-sm"><span
								class="far fa-file-pdf" title="Reporte"></span>
							</a> 
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<header th:replace="layout/layout :: footer"></header>
</body>
</html>