<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="card-body ">


		<table class="table table-striped table-bordered table-sm">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Año</th>
					<th>Id_Aprobado</th>
					<th>Acciones</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="programaAnual: ${programaAnuales}">
					<td th:text="${programaAnual.id}"></td>
					<td th:text="${programaAnual.nombre}"></td>
					<td th:text="${programaAnual.año}"></td>
					<td th:text="${programaAnual.id_aprobado}"></td>
					<td><a class="btn btn-warning  btn-sm	" th:text="Actualizar"
						th:href="@{/programaAnual/listar/} + ${programaAnual.id}"></a></td>
					<td><a class="btn btn-danger active btn-sm	"
						th:text="Eliminar"
						th:href="@{/programaAnual/eliminar/} + ${programaAnual.id}"></a></td>



				</tr>
			</tbody>

		</table>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>