<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>

	<div id="i18n_eliminar_user" th:text="#{text.user.eliminarOk}"
		style="display: none;"></div>

	<header th:replace="layout/layout :: header"></header>

	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-sm-12">
				<div class="card bg-light">
					<div class="card-header">
						<h6 th:text="${titulo}"></h6>
					</div>
					<div class="card-body ">




						
						
						<nav class="navbar navbar-expand-lg navbar-light bg-light">
						
						<div class="collapse navbar-collapse" >
								<a sec:authorize="hasRole('ROLE_ADMIN')"
								th:href="@{/admin/usuario/form}" class="navbar btn btn-primary btn-xs">crear
								Usuario</a> 
								
								<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/user/listar2(format=pdf)}"
								class="navbar btn btn-danger btn-xs">PDF</a> 
								
								<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/user/listar2(format=xlsx)}"
								class="navbar btn btn-success btn-xs">XLS</a> 
								
								<form id="formsearch" class="form-inline ml-auto" th:action="@{/}">
							<div class="md-form my-0">
							<select
									class="form-control col-md-4" id="select">
									<option value="nombres">Nombres</option>
									<option value="apellidos">Apellidos</option>
									<option value="dni">Dni</option>
									
								</select>
							<input type="search"
								placeholder="Buscar..."
								class="form-control"  id="btn-search"
								required> <input type="button" id="vamonos"
								 class="btn  btn-light btn-sm" value="Buscar"> </div>
								
								
						</form>

  						</div>
  					
						</nav>
						<table class="table table-striped table-bordered table-sm">
							<thead>
								<tr>
									
									<th>Id</th>
									<th>Foto</th>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Dni</th>
									<th>Cargo</th>
									<th>Telefono</th>
									<th>Correo Electronico</th>
									<th>Estado</th>
									<th sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user: ${users}">
									
									<td th:text="${user.id}"></td>
									<td><img th:if="${user.foto != null && #strings.length(user.foto) > 0}" class="img-thumbnail rounded float-left"
					style="max-width: 70px;" th:src="@{'../uploads/' + ${user.foto}}"
					th:alt="${user.foto}" /></td>
									<td th:text="${user.nombres}"></td>
									<td th:text="${user.apellidos}"></td>
									<td th:text="${user.dni}"></td>
									<td th:text="${user.cargo.name}"></td>

									<td th:text="${user.telefono}"></td>
									<td th:text="${user.email}"></td>
									<td th:if="${user.estado == true}" th:text="Activado"></td>
									<td sec:authorize="hasRole('ROLE_ADMIN')"><a
										class="btn  btn-light btn-sm"
										th:href="@{/admin/user/listar/} + ${user.id}">Editar</a>

										<a th:if="${user.estado == true}"
										class="btn btn-danger active btn-sm	" th:text="Desactivar"
										th:href="@{/admin/user/eliminar/} + ${user.id}">Desactivar</a>
										<a th:unless="${user.estado == true}"
										class="btn btn-outline-success btn-sm" th:text="Activar"></a></td>



								</tr>
							</tbody>

						</table>
						<nav th:replace="paginator-nav :: paginator"></nav>
					</div>
				</div>

			</div>

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	<input type="hidden" id="urlenviar"
		th:value="@{/admin/usuario/listar/}" />
	<script th:src="@{/js/searchbar.js}"></script>

</body>
</html>